<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="utf-8">
    <title>Home</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="shortcut icon" href="../img/favicon.ico">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css"> <!-- Bootstrap Icons -->
	<link href="../css/style.css" rel="stylesheet" type="text/css">
	<script src="../js/jquery.js"></script>
	<script src="../js/jquery-ui.js"></script>
	<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.1/jquery.validate.js"></script> -->
	<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.1/additional-methods.js"></script> -->
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>	
	<script src="../js/functions.js"></script>
	
</head>
<body>
	<!--
	NOMENCLATURA
	
	
	* ===========> azione/riferimento
	link-* ======> collegamento all'azione/riferimento
	modal-*	=====> modale che apre il contenitore del pulsante/input di azione/riferimento
	text-* ======> input per azione/riferimento
	lista-* ======> lista riferimento
	-->
	
	
	
	
	
<div class="container-fluid">


	<!-- DASHBOARD -->
	<div id="dashboard" class="d-flex flex-column">
	
		
		<!-- BARRA STATS NERA -->
		<div class="d-flex flex-row justify-content-between bg-dark">
			
			<div class="d-flex flex-row justify-content-between w426">
				<span class="text-light" id="giocatore"></span>
				<span class="text-light" id="id"></span>
				<span class="text-light" id="nome"></span>
				<span class="text-light" id="razza"></span>
				<span class="text-light" id="classe"></span>
			</div>
			
			<!-- TASTO LOGIN -->
			<div>
				<span class="text-light fw-bold" id="link-login" role="button" data-bs-toggle="modal" data-bs-target="#modal-login">LOGIN</span>
			</div>
			
			<div class="d-flex flex-row justify-content-between w426">
				<span class="text-danger">LIVELLO <span id="livello"></span></span>
				<span class="text-danger">PF <span id="pf"></span></span>
				<span class="text-danger">CA <span id="ca"></span></span>
				<span class="text-danger">PE <span id="pe"></span></span>
			</div>
			
		</div>
		
		<div class="d-flex flex-row justify-content-between bg-secondary p-3">
		
			<!-- <div class="d-flex flex-column justify-content-around w33vw"> -->
			<div class="d-flex flex-column justify-content-around">
			
				<div class="d-flex flex-row justify-content-between m-3 p-2">
			
					<button class="btn btn-danger me-2" type="button" id="link-attacca" data-bs-toggle="modal" data-bs-target="#modal-attacca">ATTACCA</button>
					<button class="btn btn-success me-2" type="button" id="link-raccogli">RACCOGLI</button>
					<button class="btn btn-info" type="button" id="link-interagisci">INTERAGISCI</button>
				
				</div>
				
				<!-- <div class="d-flex flex-row justify-content-between m-3 p-2 bg-dark dm">
				
					<button class="btn btn-light" type="button" id="link-inserisci" data-bs-toggle="modal" data-bs-target="#modal-inserisci">INSERISCI</button>
					<button class="btn btn-light" type="button" id="test">TEST</span>
					<button class="btn btn-light" type="button" id="link-modifica" onclick="showModal('modifica');">MODIFICA</button>
				
				</div> -->

			</div>
			
			
			<div class="d-flex flex-row justify-content-end">
			
				<div class="d-flex flex-column justify-content-between m-3 p-2">
			
					<button class="btn btn-sm btn-light" type="button" id="link-armi" data-bs-toggle="modal" data-bs-target="#modal-armi">ARMI</button>
					<button class="btn btn-sm btn-light" type="button" id="link-incantesimi" data-bs-toggle="modal" data-bs-target="#modal-incantesimi">INCANTESIMI</button>
					<button class="btn btn-sm btn-light" type="button" id="link-abilita" data-bs-toggle="modal" data-bs-target="#modal-abilita">ABILIT&Agrave;</button>
					<button class="btn btn-sm btn-light" type="button" id="link-equipaggiamento" data-bs-toggle="modal" data-bs-target="#modal-equipaggiamento">EQUIPAGGIAMENTO</button>
				
				</div>
				
				<div class="d-flex flex-column justify-content-between text-light text-end m-3 p-2">
				
					<p class="mb-1 mt-1">FORZA <span id="for"></span> +<span id="bonus-for">0</span></p>
					<p class="mb-1 mt-1">DESTREZZA <span id="des"></span> +<span id="bonus-des">0</span></p>
					<p class="mb-1 mt-1">COSTITUZIONE <span id="cos"></span> +<span id="bonus-cos">0</span></p>
					<p class="mb-1 mt-1">CARISMA <span id="car"></span> +<span id="bonus-car">0</span></p>
					<p class="mb-1 mt-1">INTELLIGENZA <span id="int"></span> +<span id="bonus-int">0</span></p>
					<p class="mb-1 mt-1">SAGGEZZA <span id="sag"></span> +<span id="bonus-sag">0</span></p>
				
				</div>

			</div>
			
		
		</div>

	</div>
	
	
	<div class="box rounded bg-danger bg-gradient position-absolute" id="player1">
		<svg xmlns="http://www.w3.org/2000/svg" width="60" height="60" fill="currentColor" class="bi bi-emoji-heart-eyes" viewBox="0 0 16 16"><path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/><path d="M11.315 10.014a.5.5 0 0 1 .548.736A4.498 4.498 0 0 1 7.965 13a4.498 4.498 0 0 1-3.898-2.25.5.5 0 0 1 .548-.736h.005l.017.005.067.015.252.055c.215.046.515.108.857.169.693.124 1.522.242 2.152.242.63 0 1.46-.118 2.152-.242a26.58 26.58 0 0 0 1.109-.224l.067-.015.017-.004.005-.002zM4.756 4.566c.763-1.424 4.02-.12.952 3.434-4.496-1.596-2.35-4.298-.952-3.434zm6.488 0c1.398-.864 3.544 1.838-.952 3.434-3.067-3.554.19-4.858.952-3.434z"/></svg>
	</div>

	<!-- mappa -->
	<img id="map" src="../img/skull-entrance-map.jpg" alt="Workplace">
	
	<!-- Misure della griglia: 16 x 20 quadrati
		 Misure di un singolo quadrato: 60 x 60 px-->
	<div class="d-flex flex-column position-absolute" id="grid">
		<div class="d-flex flex-row">
			<div class="box borded" id="A1"></div>
			<div class="box borded" id="A2"></div>
			<div class="box borded" id="A3"></div>
			<div class="box borded" id="A4"></div>
			<div class="box borded" id="A5"></div>
			<div class="box borded" id="A6"></div>
			<div class="box borded" id="A7"></div>
			<div class="box borded" id="A8"></div>
			<div class="box borded" id="A9"></div>
			<div class="box borded" id="A10"></div>
			<div class="box borded" id="A11"></div>
			<div class="box borded" id="A12"></div>
			<div class="box borded" id="A13"></div>
			<div class="box borded" id="A14"></div>
			<div class="box borded" id="A15"></div>
			<div class="box borded" id="A16"></div>
			<div class="box borded" id="A17"></div>
		</div>
		<div class="d-flex flex-row">
			<div class="box borded" id="B1"></div>
			<div class="box borded" id="B2"></div>
			<div class="box borded" id="B3"></div>
			<div class="box borded" id="B4"></div>
			<div class="box borded" id="B5"></div>
			<div class="box borded" id="B6"></div>
			<div class="box borded" id="B7"></div>
			<div class="box borded" id="B8"></div>
			<div class="box borded" id="B9"></div>
			<div class="box borded" id="B10"></div>
			<div class="box borded" id="B11"></div>
			<div class="box borded" id="B12"></div>
			<div class="box borded" id="B13"></div>
			<div class="box borded" id="B14"></div>
			<div class="box borded" id="B15"></div>
			<div class="box borded" id="B16"></div>
			<div class="box borded" id="B17"></div>
		</div>
		<div class="d-flex flex-row">
			<div class="box borded" id="C1"></div>
			<div class="box borded" id="C2"></div>
			<div class="box borded" id="C3"></div>
			<div class="box borded" id="C4"></div>
			<div class="box borded" id="C5"></div>
			<div class="box borded" id="C6"></div>
			<div class="box borded" id="C7"></div>
			<div class="box borded" id="C8"></div>
			<div class="box borded" id="C9"></div>
			<div class="box borded" id="C10"></div>
			<div class="box borded" id="C11"></div>
			<div class="box borded" id="C12"></div>
			<div class="box borded" id="C13"></div>
			<div class="box borded" id="C14"></div>
			<div class="box borded" id="C15"></div>
			<div class="box borded" id="C16"></div>
			<div class="box borded" id="C17"></div>
		</div>
		<div class="d-flex flex-row">
			<div class="box borded" id="D1"></div>
			<div class="box borded" id="D2"></div>
			<div class="box borded" id="D3"></div>
			<div class="box borded" id="D4"></div>
			<div class="box borded" id="D5"></div>
			<div class="box borded" id="D6"></div>
			<div class="box borded" id="D7"></div>
			<div class="box borded" id="D8"></div>
			<div class="box borded" id="D9"></div>
			<div class="box borded" id="D10"></div>
			<div class="box borded" id="D11"></div>
			<div class="box borded" id="D12"></div>
			<div class="box borded" id="D13"></div>
			<div class="box borded" id="D14"></div>
			<div class="box borded" id="D15"></div>
			<div class="box borded" id="D16"></div>
			<div class="box borded" id="D17"></div>
		</div>
		<div class="d-flex flex-row">
			<div class="box borded" id="E1"></div>
			<div class="box borded" id="E2"></div>
			<div class="box borded" id="E3"></div>
			<div class="box borded" id="E4"></div>
			<div class="box borded" id="E5"></div>
			<div class="box borded" id="E6"></div>
			<div class="box borded" id="E7"></div>
			<div class="box borded" id="E8"></div>
			<div class="box borded" id="E9"></div>
			<div class="box borded" id="E10"></div>
			<div class="box borded" id="E11"></div>
			<div class="box borded" id="E12"></div>
			<div class="box borded" id="E13"></div>
			<div class="box borded" id="E14"></div>
			<div class="box borded" id="E15"></div>
			<div class="box borded" id="E16"></div>
			<div class="box borded" id="E17"></div>
		</div>
		<div class="d-flex flex-row">
			<div class="box borded" id="F1"></div>
			<div class="box borded" id="F2"></div>
			<div class="box borded" id="F3"></div>
			<div class="box borded" id="F4"></div>
			<div class="box borded" id="F5"></div>
			<div class="box borded" id="F6"></div>
			<div class="box borded" id="F7"></div>
			<div class="box borded" id="F8"></div>
			<div class="box borded" id="F9"></div>
			<div class="box borded" id="F10"></div>
			<div class="box borded" id="F11"></div>
			<div class="box borded" id="F12"></div>
			<div class="box borded" id="F13"></div>
			<div class="box borded" id="F14"></div>
			<div class="box borded" id="F15"></div>
			<div class="box borded" id="F16"></div>
			<div class="box borded" id="F17"></div>
		</div>
		<div class="d-flex flex-row">
			<div class="box borded" id="G1"></div>
			<div class="box borded" id="G2"></div>
			<div class="box borded" id="G3"></div>
			<div class="box borded" id="G4"></div>
			<div class="box borded" id="G5"></div>
			<div class="box borded" id="G6"></div>
			<div class="box borded" id="G7"></div>
			<div class="box borded" id="G8"></div>
			<div class="box borded" id="G9"></div>
			<div class="box borded" id="G10"></div>
			<div class="box borded" id="G11"></div>
			<div class="box borded" id="G12"></div>
			<div class="box borded" id="G13"></div>
			<div class="box borded" id="G14"></div>
			<div class="box borded" id="G15"></div>
			<div class="box borded" id="G16"></div>
			<div class="box borded" id="G17"></div>
		</div>
		<div class="d-flex flex-row">
			<div class="box borded" id="H1"></div>
			<div class="box borded" id="H2"></div>
			<div class="box borded" id="H3"></div>
			<div class="box borded" id="H4"></div>
			<div class="box borded" id="H5"></div>
			<div class="box borded" id="H6"></div>
			<div class="box borded" id="H7"></div>
			<div class="box borded" id="H8"></div>
			<div class="box borded" id="H9"></div>
			<div class="box borded" id="H10"></div>
			<div class="box borded" id="H11"></div>
			<div class="box borded" id="H12"></div>
			<div class="box borded" id="H13"></div>
			<div class="box borded" id="H14"></div>
			<div class="box borded" id="H15"></div>
			<div class="box borded" id="H16"></div>
			<div class="box borded" id="H17"></div>
		</div>
		<div class="d-flex flex-row">
			<div class="box borded" id="I1"></div>
			<div class="box borded" id="I2"></div>
			<div class="box borded" id="I3"></div>
			<div class="box borded" id="I4"></div>
			<div class="box borded" id="I5"></div>
			<div class="box borded" id="I6"></div>
			<div class="box borded" id="I7"></div>
			<div class="box borded" id="I8"></div>
			<div class="box borded" id="I9"></div>
			<div class="box borded" id="I10"></div>
			<div class="box borded" id="I11"></div>
			<div class="box borded" id="I12"></div>
			<div class="box borded" id="I13"></div>
			<div class="box borded" id="I14"></div>
			<div class="box borded" id="I15"></div>
			<div class="box borded" id="I16"></div>
			<div class="box borded" id="I17"></div>
		</div>
		<div class="d-flex flex-row">
			<div class="box borded" id="L1"></div>
			<div class="box borded" id="L2"></div>
			<div class="box borded" id="L3"></div>
			<div class="box borded" id="L4"></div>
			<div class="box borded" id="L5"></div>
			<div class="box borded" id="L6"></div>
			<div class="box borded" id="L7"></div>
			<div class="box borded" id="L8"></div>
			<div class="box borded" id="L9"></div>
			<div class="box borded" id="L10"></div>
			<div class="box borded" id="L11"></div>
			<div class="box borded" id="L12"></div>
			<div class="box borded" id="L13"></div>
			<div class="box borded" id="L14"></div>
			<div class="box borded" id="L15"></div>
			<div class="box borded" id="L16"></div>
			<div class="box borded" id="L17"></div>
		</div>
		<div class="d-flex flex-row">
			<div class="box borded" id="M1"></div>
			<div class="box borded" id="M2"></div>
			<div class="box borded" id="M3"></div>
			<div class="box borded" id="M4"></div>
			<div class="box borded" id="M5"></div>
			<div class="box borded" id="M6"></div>
			<div class="box borded" id="M7"></div>
			<div class="box borded" id="M8"></div>
			<div class="box borded" id="M9"></div>
			<div class="box borded" id="M10"></div>
			<div class="box borded" id="M11"></div>
			<div class="box borded" id="M12"></div>
			<div class="box borded" id="M13"></div>
			<div class="box borded" id="M14"></div>
			<div class="box borded" id="M15"></div>
			<div class="box borded" id="M16"></div>
			<div class="box borded" id="M17"></div>
		</div>
		<div class="d-flex flex-row">
			<div class="box borded" id="N1"></div>
			<div class="box borded" id="N2"></div>
			<div class="box borded" id="N3"></div>
			<div class="box borded" id="N4"></div>
			<div class="box borded" id="N5"></div>
			<div class="box borded" id="N6"></div>
			<div class="box borded" id="N7"></div>
			<div class="box borded" id="N8"></div>
			<div class="box borded" id="N9"></div>
			<div class="box borded" id="N10"></div>
			<div class="box borded" id="N11"></div>
			<div class="box borded" id="N12"></div>
			<div class="box borded" id="N13"></div>
			<div class="box borded" id="N14"></div>
			<div class="box borded" id="N15"></div>
			<div class="box borded" id="N16"></div>
			<div class="box borded" id="N17"></div>
		</div>
		<div class="d-flex flex-row">
			<div class="box borded" id="O1"></div>
			<div class="box borded" id="O2"></div>
			<div class="box borded" id="O3"></div>
			<div class="box borded" id="O4"></div>
			<div class="box borded" id="O5"></div>
			<div class="box borded" id="O6"></div>
			<div class="box borded" id="O7"></div>
			<div class="box borded" id="O8"></div>
			<div class="box borded" id="O9"></div>
			<div class="box borded" id="O10"></div>
			<div class="box borded" id="O11"></div>
			<div class="box borded" id="O12"></div>
			<div class="box borded" id="O13"></div>
			<div class="box borded" id="O14"></div>
			<div class="box borded" id="O15"></div>
			<div class="box borded" id="O16"></div>
			<div class="box borded" id="O17"></div>
		</div>
		<div class="d-flex flex-row">
			<div class="box borded" id="P1"></div>
			<div class="box borded" id="P2"></div>
			<div class="box borded" id="P3"></div>
			<div class="box borded" id="P4"></div>
			<div class="box borded" id="P5"></div>
			<div class="box borded" id="P6"></div>
			<div class="box borded" id="P7"></div>
			<div class="box borded" id="P8"></div>
			<div class="box borded" id="P9"></div>
			<div class="box borded" id="P10"></div>
			<div class="box borded" id="P11"></div>
			<div class="box borded" id="P12"></div>
			<div class="box borded" id="P13"></div>
			<div class="box borded" id="P14"></div>
			<div class="box borded" id="P15"></div>
			<div class="box borded" id="P16"></div>
			<div class="box borded" id="P17"></div>
		</div>
		<div class="d-flex flex-row">
			<div class="box borded" id="Q1"></div>
			<div class="box borded" id="Q2"></div>
			<div class="box borded" id="Q3"></div>
			<div class="box borded" id="Q4"></div>
			<div class="box borded" id="Q5"></div>
			<div class="box borded" id="Q6"></div>
			<div class="box borded" id="Q7"></div>
			<div class="box borded" id="Q8"></div>
			<div class="box borded" id="Q9"></div>
			<div class="box borded" id="Q10"></div>
			<div class="box borded" id="Q11"></div>
			<div class="box borded" id="Q12"></div>
			<div class="box borded" id="Q13"></div>
			<div class="box borded" id="Q14"></div>
			<div class="box borded" id="Q15"></div>
			<div class="box borded" id="Q16"></div>
			<div class="box borded" id="Q17"></div>
		</div>
		<div class="d-flex flex-row">
			<div class="box borded" id="R1"></div>
			<div class="box borded" id="R2"></div>
			<div class="box borded" id="R3"></div>
			<div class="box borded" id="R4"></div>
			<div class="box borded" id="R5"></div>
			<div class="box borded" id="R6"></div>
			<div class="box borded" id="R7"></div>
			<div class="box borded" id="R8"></div>
			<div class="box borded" id="R9"></div>
			<div class="box borded" id="R10"></div>
			<div class="box borded" id="R11"></div>
			<div class="box borded" id="R12"></div>
			<div class="box borded" id="R13"></div>
			<div class="box borded" id="R14"></div>
			<div class="box borded" id="R15"></div>
			<div class="box borded" id="R16"></div>
			<div class="box borded" id="R17"></div>
		</div>
		<div class="d-flex flex-row">
			<div class="box borded" id="S1"></div>
			<div class="box borded" id="S2"></div>
			<div class="box borded" id="S3"></div>
			<div class="box borded" id="S4"></div>
			<div class="box borded" id="S5"></div>
			<div class="box borded" id="S6"></div>
			<div class="box borded" id="S7"></div>
			<div class="box borded" id="S8"></div>
			<div class="box borded" id="S9"></div>
			<div class="box borded" id="S10"></div>
			<div class="box borded" id="S11"></div>
			<div class="box borded" id="S12"></div>
			<div class="box borded" id="S13"></div>
			<div class="box borded" id="S14"></div>
			<div class="box borded" id="S15"></div>
			<div class="box borded" id="S16"></div>
			<div class="box borded" id="S17"></div>
		</div>
		<div class="d-flex flex-row">
			<div class="box borded" id="T1"></div>
			<div class="box borded" id="T2"></div>
			<div class="box borded" id="T3"></div>
			<div class="box borded" id="T4"></div>
			<div class="box borded" id="T5"></div>
			<div class="box borded" id="T6"></div>
			<div class="box borded" id="T7"></div>
			<div class="box borded" id="T8"></div>
			<div class="box borded" id="T9"></div>
			<div class="box borded" id="T10"></div>
			<div class="box borded" id="T11"></div>
			<div class="box borded" id="T12"></div>
			<div class="box borded" id="T13"></div>
			<div class="box borded" id="T14"></div>
			<div class="box borded" id="T15"></div>
			<div class="box borded" id="T16"></div>
			<div class="box borded" id="T17"></div>
		</div>
		<div class="d-flex flex-row">
			<div class="box borded" id="U1"></div>
			<div class="box borded" id="U2"></div>
			<div class="box borded" id="U3"></div>
			<div class="box borded" id="U4"></div>
			<div class="box borded" id="U5"></div>
			<div class="box borded" id="U6"></div>
			<div class="box borded" id="U7"></div>
			<div class="box borded" id="U8"></div>
			<div class="box borded" id="U9"></div>
			<div class="box borded" id="U10"></div>
			<div class="box borded" id="U11"></div>
			<div class="box borded" id="U12"></div>
			<div class="box borded" id="U13"></div>
			<div class="box borded" id="U14"></div>
			<div class="box borded" id="U15"></div>
			<div class="box borded" id="U16"></div>
			<div class="box borded" id="U17"></div>
		</div>
		<div class="d-flex flex-row">
			<div class="box borded" id="V1"></div>
			<div class="box borded" id="V2"></div>
			<div class="box borded" id="V3"></div>
			<div class="box borded" id="V4"></div>
			<div class="box borded" id="V5"></div>
			<div class="box borded" id="V6"></div>
			<div class="box borded" id="V7"></div>
			<div class="box borded" id="V8"></div>
			<div class="box borded" id="V9"></div>
			<div class="box borded" id="V10"></div>
			<div class="box borded" id="V11"></div>
			<div class="box borded" id="V12"></div>
			<div class="box borded" id="V13"></div>
			<div class="box borded" id="V14"></div>
			<div class="box borded" id="V15"></div>
			<div class="box borded" id="V16"></div>
			<div class="box borded" id="A17"></div>
		</div>
		<div class="d-flex flex-row">
			<div class="box borded" id="Z1"></div>
			<div class="box borded" id="Z2"></div>
			<div class="box borded" id="Z3"></div>
			<div class="box borded" id="Z4"></div>
			<div class="box borded" id="Z5"></div>
			<div class="box borded" id="Z6"></div>
			<div class="box borded" id="Z7"></div>
			<div class="box borded" id="Z8"></div>
			<div class="box borded" id="Z9"></div>
			<div class="box borded" id="Z10"></div>
			<div class="box borded" id="Z11"></div>
			<div class="box borded" id="Z12"></div>
			<div class="box borded" id="Z13"></div>
			<div class="box borded" id="Z14"></div>
			<div class="box borded" id="Z15"></div>
			<div class="box borded" id="Z16"></div>
		</div>
	<!-- </map> -->
	</div>

</div>	
	
	
	
	
<!-- LOGIN -->
<div id="modal-login" class="modal fade" tabindex="-1" aria-labelledby="modal-loginLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Chiudi"></button>
			</div>				
			<div class="modal-body">
				<p>Nome giocatore</p>
				<input type="text" id="text-login" name="login">
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-success" id="login" data-bs-dismiss="modal">Entra</button>
				<button type="button" class="btn btn-danger" id="logout" data-bs-dismiss="modal">Esci</button>
			</div>
		</div>
	</div>
</div>



<!-- ATTACCA -->
<div id="modal-attacca" class="modal fade" tabindex="-1" aria-labelledby="modal-attaccaLabel" aria-hidden="true">
	<div class="modal-dialog modal-lg modal-dialog-centered">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="modal-attaccaLabel">Attacca</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Chiudi"></button>
			</div>				
			<div class="modal-body">
				<div class="d-flex flex-column">
					<div id="container-icone-personaggi" class="d-flex flex-row justify-content-between p-2 mb-4"></div>
					<div class="d-flex flex-row justify-content-between p-2">
						<div class="d-flex flex-column w33vw">
							<button type="button" class="btn btn-outline-secondary mb-1" id="link-attacca-armi" data-bs-toggle="modal" data-bs-target="#modal-armi">ARMI</button>
							<button type="button" class="btn btn-outline-secondary mb-1" id="link-attacca-incantesimi" data-bs-toggle="modal" data-bs-target="#modal-incantesimi">INCANTESIMI</button>
							<button type="button" class="btn btn-outline-secondary mb-1" id="link-attacca-abilita" data-bs-toggle="modal" data-bs-target="#modal-abilita">ABILIT&Agrave;</button></button>
							<button type="button" class="btn btn-outline-secondary mb-1" id="link-attacca-equipaggiamento" data-bs-toggle="modal" data-bs-target="#modal-equipaggiamento">EQUIPAGGIAMENTO</button></button>
						</div>
						<div class="d-flex flex-column w33vw">
							<div id="attacca-party-stats" class="mx-2">
								<p id="attacca-party-stats-text"></p>
								<input type="hidden" id="attacca-party-stats-weapon">
							</div>
						</div>
						<div class="d-flex flex-column w33vw">
							<div>
								<p class="text-danger text-center">RISULTATO</p>
								<p id="attacca-risultato-text"></p>
							</div>
						</div>
					</div>
					<!-- <div class="d-flex flex-row justify-content-between">
						<button type="button" class="text-white bg-danger width-200" id="attacca"><b>ATTACCA</b></button>
						<button type="button" class="width-200" id="passa">FAI...</button>
					</div> -->
				</div>	
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-danger text-center font-weight-bold" id="attacca-annulla">ANNULLA ATTACCO</button>
			</div>
		</div>
	</div>

	<div class="d-flex flex-row justify-content-end">
		<span class="chiudi" onclick="closeModal('attacca')">X</span>
		<p class="text-center text-danger mb-20">ATTACCA</p>
		
		<div id="container-icone-personaggi" class="row left mb-20"></div>
		
		<div class="row mb-20">
		
			<div class="column mr-10">
				<button type="button" id="link-attacca-armi" onclick="showModal('armi');">ARMI</button>
				<button type="button" id="link-attacca-incantesimi" onclick="showModal('incantesimi');">INCANTESIMI</button>
				<button type="button" id="link-attacca-equipaggiamento" onclick="showModal('equipaggiamento');">EQUIPAGGIAMENTO</button></button>
				<button type="button" id="link-attacca-abilita" onclick="showModal('abilita');">ABILITA'</button></button>
			</div>
			
			<div class="column mr-10">
				<div id="attacca-party-stats" class="mb-10">
					<p id="attacca-party-stats-text"></p>
					<input type="hidden" id="attacca-party-stats-weapon">
				</div>
			</div>
			
			<div class="column">
				<div>
					<p class="text-danger text-center">RISULTATO</p>
					<p id="attacca-risultato-text"></p>
				</div>
			</div>
		
		</div>
		
		<div class="row justify-content-between mb-20">
			<button type="button" class="text-white bg-danger width-200" id="attacca"><b>ATTACCA</b></button>
			<button type="button" class="width-200" id="passa">FAI...</button>
		</div>
		
		<div class="row justify-content-center">
			<button type="button" class="text-danger text-center font-weight-bold" id="attacca-annulla">ANNULLA ATTACCO</button>
		</div>
		
	</div>
	
</div>


<!-- DIALOGO -->
<!-- <div id="modal-dialogo" class="hide">
	<span class="chiudi" onclick="closeModal('dialogo')">X</span>
	<p>DOMANDA DI PROVA</p>
	<p>RISPOSTA DI PROVA</p>
</div> -->

<div id="modal-armi" class="modal fade" tabindex="-1" aria-labelledby="modal-armiLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="modal-armiLabel">Armi</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Chiudi"></button>
			</div>				
			<div class="modal-body">
				<div id ="lista-armi"></div>
			</div>
			<div class="modal-footer">
				<!-- <button type="button" class="btn btn-primary" data-bs-target="#modal-attacca" data-bs-toggle="modal">Indietro</button> -->
			</div>
		</div>
	</div>
</div>


<div id="modal-incantesimi" class="modal fade" tabindex="-1" aria-labelledby="modal-incantesimiLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="modal-incantesimiLabel">Incantesimi</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Chiudi"></button>
			</div>				
			<div class="modal-body">
				<div id ="lista-incantesimi"></div>
			</div>
			<div class="modal-footer">
				<!-- <button type="button" class="btn btn-primary" data-bs-target="#modal-attacca" data-bs-toggle="modal">Indietro</button> -->
			</div>
		</div>
	</div>
</div>


<div id="modal-abilita" class="modal fade" tabindex="-1" aria-labelledby="modal-abilitaLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="modal-abilitaLabel">Abilit&agrave;</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Chiudi"></button>
			</div>				
			<div class="modal-body">
				<div id ="lista-abilita"></div>
			</div>
			<div class="modal-footer">
				<!-- <button type="button" class="btn btn-primary" data-bs-target="#modal-attacca" data-bs-toggle="modal">Indietro</button> -->
			</div>
		</div>
	</div>
</div>


<div id="modal-equipaggiamento" class="modal fade" tabindex="-1" aria-labelledby="modal-equipaggiamentoLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="modal-equipaggiamentoLabel">Equipaggiamento</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Chiudi"></button>
			</div>				
			<div class="modal-body">
				<div id ="lista-equipaggiamento"></div>
			</div>
			<div class="modal-footer">
				<!-- <button type="button" class="btn btn-primary" data-bs-target="#modal-attacca" data-bs-toggle="modal">Indietro</button> -->
			</div>
		</div>
	</div>
</div>

<!-- INSERISCI -->
<div id="modal-inserisci" class="modal fade" tabindex="-1" aria-labelledby="modal-inserisciLabel" aria-hidden="true">
	<div class="modal-dialog modal-xl">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="modal-inserisciLabel">Inserisci</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Chiudi"></button>
			</div>				
			<div class="modal-body">
				<form id="lista-inserisci" method="post">
					<div class="d-flex column">
					
						<fieldset>
							<legend>Cosa vuoi caricare?</legend>
							<div class="row">
								<div class="row">
									<label for="inserisci-tipo-Oggetti">Oggetti</label>
									<input type="radio" name="inserisci-tipo" value="Oggetti" id="inserisci-tipo-Oggetti" onchange="showModal('inserisci-Oggetto');closeModal('inserisci-Personaggio');">
								</div>
								<div class="row">
									<label for="inserisci-tipo-Personaggi">Personaggi</label>
									<input type="radio" name="inserisci-tipo" value="Personaggi" id="inserisci-tipo-Personaggi" onchange="showModal('inserisci-Personaggio');closeModal('inserisci-Oggetto');">
								</div>
							</div>
						</fieldset>
						
						<fieldset id="modal-inserisci-Oggetto" class="hide">
							<legend>Carica Oggetto</legend>
							<p class="mb-10">* obbligatori.</p>
							
							<fieldset class="row mb-10">
								<legend>Tipo di oggetto *</legend>
								<div class="row">
									<select name="inserisci-oggetto-azione" class="required">
										<option value="arma">Arma</option>
										<option value="incantesimo">Incantesimo</option>
										<option value="pergamena">Pergamena</option>
										<option value="pozione">Pozione</option>
										<option value="libro">Libro</option>
										<option value="abilita">Abilità</option>
									</select>
								</div>
							</fieldset>
							
							<div class="mb-10">
								<div class="row">
									<label for="inserisci-Oggetti-nome">Nome *</label>
									<input type="input" name="inserisci-oggetto-nome" class="required" id="inserisci-Oggetti-nome" maxlength="16">
									
								</div>
								<div class="row">
									<label for="inserisci-Oggetti-proprietario">Proprietario *</label>
									<input type="number" name="inserisci-oggetto-proprietario" class="required" id="inserisci-Oggetti-proprietario" max="255">
									
								</div>
							</div>	
							
							<div class="mb-10">
								<p>Presente sulla mappa? *</p>
								<div class="row">
									<div class="row">
										<label for="inserisci-Oggetti-presente-si">Sì</label>
										<input type="radio" name="inserisci-oggetto-presente" class="required" id="inserisci-Oggetti-presente-si" value="1">
										
									</div>
									<div class="row">
										<label for="inserisci-Oggetti-presente-no">No</label>
										<input type="radio" name="inserisci-oggetto-presente" class="required" id="inserisci-Oggetti-presente-no" value="0">
										
									</div>
								</div>
							</div>
							
							
							<fieldset class="column mb-10">
								<legend>Danno</legend>
								<div class="row">
									<label for="inserisci-Oggetti-numero-quantita">Numero di dadi?</label>
									<input type="number" name="inserisci-oggetto-numero-quantita" id="inserisci-Oggetti-numero-quantita" max="100">
								</div>
								<div class="row">
									<label for="inserisci-Oggetti-numero-dadi">Facce del dado?</label>
									<input type="number" name="inserisci-oggetto-numero-dadi" id="inserisci-Oggetti-numero-dadi" max="100">
								</div>
								<div class="row">
									<label for="inserisci-Oggetti-bonus_tiro">Bonus tiro?</label>
									<input type="number" name="inserisci-oggetto-bonus_tiro" id="inserisci-Oggetti-bonus_tiro" max="100">
								</div>
								<div class="row">
									<label for="inserisci-Oggetti-gittata">Gittata?</label>
									<input type="number" name="inserisci-oggetto-gittata" id="inserisci-Oggetti-gittata" max="100">
								</div>
							</fieldset>

							<div class="row justify-content-between">
								<button type="button" id="inserisci-Oggetto-svuota" onclick="emptyForm('modal-inserisci-Oggetto');">Svuota</button>
								<button type="button" id="inserisci-Oggetto-ok">Inserisci</button>
							</div>
						</fieldset>
						
			
						<fieldset id="modal-inserisci-Personaggio" class="hide">
							<legend>Carica Personaggio</legend>
							
							<p class="mb-10">* obbligatori.</p>
							<fieldset class="column mb-10">
								<legend>Razza</legend>
								<div class="row">
									<select name="inserisci-personaggio-razza" class="required">
										<option value="Umano" selected>Umano</option>
										<option value="Elfo">Elfo</option>
										<option value="Mezzelfo">Mezzelfo</option>
										<option value="Mezzorco">Mezzorco</option>
										<option value="Nano">Nano</option>
										<option value="Gnomo">Gnomo</option>
										<option value="Halfling">Umano</option>
									</select>
								</div>
							</fieldset>
							
							<fieldset class="row mb-10">
								<legend>Classe</legend>
								<div class="row">
									<select name="inserisci-personaggio-classe" class="required">
										<option value="Barbaro">Barbaro</option>
										<option value="Bardo">Bardo</option>
										<option value="Chierico">Chierico</option>
										<option value="Druido">Druido</option>
										<option value="Druido">Druido</option>
										<option value="Guerriero">Guerriero</option>
										<option value="Ladro">Ladro</option>
										<option value="Mago">Mago</option>
										<option value="Monaco">Monaco</option>
										<option value="Paladino">Paladino</option>
										<option value="Ranger">Ranger</option>
										<option value="Stregone">Stregone</option>
										<option value="Altro">Altro</option>
									</select>
								</div>
							</fieldset>
							
							<div class="column mb-10">
								<div class="column mb-10">
									<div class="row">
										<label for="inserisci-Personaggi-giocatore">Username *</label>
										<input type="input" name="inserisci-personaggio-giocatore" id="inserisci-Personaggi-Giocatore" max="16">
									</div>
									<p>Se inserisci <cite>npc</cite> creerai un PERSONAGGIO NON GIOCANTE</p>
									<p>Se inserisci <cite>dm</cite> creerai un NUOVO DUNGEON MASTER</p>
								</div>
								<div class="row">
									<label for="inserisci-Personaggi-nome">Nome *</label>
									<input type="input" name="inserisci-personaggio-nome" id="inserisci-Personaggi-nome" max="16">
								</div>
							</div>
							
							<div class="mb-10">
								<p>Presente sulla mappa? *</p>
								<div class="row">
									<div class="row">
										<label for="inserisci-Personaggi-presente-si">Sì</label>
										<input type="radio" name="inserisci-personaggio-presente" class="required" id="inserisci-Personaggi-presente-si" value="1">	
									</div>
									<div class="row">
										<label for="inserisci-Personaggi-presente-no">No</label>
										<input type="radio" name="inserisci-personaggio-presente" class="required" id="inserisci-Personaggi-presente-no" value="0">	
									</div>
								</div>
							</div>
							
							<div class="row">
								<label for="inserisci-Personaggi-livello">Livello?</label>
								<input type="number" name="inserisci-personaggio-livello" id="inserisci-Personaggi-livello" max="100">
							</div>
							
							<fieldset class="column mb-10">
								<legend>Caratteristiche</legend>
								<div class="row">
									<label for="inserisci-Personaggi-caratteristiche-forza">Forza</label>
									<input type="number" name="inserisci-personaggio-caratteristiche-forza" id="inserisci-Personaggi-caratteristiche-Forza" max="100" >
									<label for="inserisci-Personaggi-caratteristiche-bonus-forza">Bonus forza</label>
									<input type="number" name="inserisci-personaggio-caratteristiche-bonus-forza" id="inserisci-Personaggi-caratteristiche-bonus-Forza" max="100">
								</div>
								<div class="row">
									<label for="inserisci-Personaggi-caratteristiche-destrezza">Destrezza</label>
									<input type="number" name="inserisci-personaggio-caratteristiche-destrezza" id="inserisci-Personaggi-caratteristiche-Destrezza" max="100">
									<label for="inserisci-Personaggi-caratteristiche-bonus-destrezza">Bonus destrezza</label>
									<input type="number" name="inserisci-personaggio-caratteristiche-bonus-destrezza" id="inserisci-Personaggi-caratteristiche-bonus-Destrezza" max="100">
								</div>
								<div class="row">
									<label for="inserisci-Personaggi-caratteristiche-costituzione">Costituzione</label>
									<input type="number" name="inserisci-personaggio-caratteristiche-costituzione" id="inserisci-Personaggi-caratteristiche-Costituzione" max="100">
									<label for="inserisci-Personaggi-caratteristiche-bonus-costituzione">Bonus costituzione</label>
									<input type="number" name="inserisci-personaggio-caratteristiche-bonus-costituzione" id="inserisci-Personaggi-caratteristiche-bonus-Costituzione" max="100">
								</div>
								<div class="row">
									<label for="inserisci-Personaggi-caratteristiche-carisma">Carisma</label>
									<input type="number" name="inserisci-personaggio-caratteristiche-carisma" id="inserisci-Personaggi-caratteristiche-Carisma" max="100">
									<label for="inserisci-Personaggi-caratteristiche-bonus-carisma">Bonus carisma</label>
									<input type="number" name="inserisci-personaggio-caratteristiche-bonus-carisma" id="inserisci-Personaggi-caratteristiche-bonus-Carisma" max="100">
								</div>
								<div class="row">
									<label for="inserisci-Personaggi-caratteristiche-intelligenza">Intelligenza</label>
									<input type="number" name="inserisci-personaggio-caratteristiche-intelligenza" id="inserisci-Personaggi-caratteristiche-Intelligenza" max="100">
									<label for="inserisci-Personaggi-caratteristiche-bonus-intelligenza">Bonus intelligenza</label>
									<input type="number" name="inserisci-personaggio-caratteristiche-bonus-intelligenza" id="inserisci-Personaggi-caratteristiche-bonus-Intelligenza" max="100">
								</div>
								<div class="row mb-10">
									<label for="inserisci-Personaggi-caratteristiche-saggezza">Saggezza</label>
									<input type="number" name="inserisci-personaggio-caratteristiche-saggezza" id="inserisci-Personaggi-caratteristiche-Saggezza" max="100">
									<label for="inserisci-Personaggi-caratteristiche-bonus-saggezza">Bonus saggezza</label>
									<input type="number" name="inserisci-personaggio-caratteristiche-bonus-saggezza" id="inserisci-Personaggi-caratteristiche-bonus-Saggezza" max="100">
								</div>
								<div class="row">
									<label for="inserisci-Personaggi-iniziativa">Iniziativa?</label>
									<input type="number" name="inserisci-personaggio-iniziativa" id="inserisci-Personaggi-Iniziativa" max="100">
								</div>
								<div class="row">
									<label for="inserisci-Personaggi-ca">Classe Armatura? *</label>
									<input type="number" name="inserisci-personaggio-ca" class="required" id="inserisci-Personaggi-CA" max="100">
								</div>
								<div class="row">
									<label for="inserisci-Personaggi-pf">Punti Ferita? *</label>
									<input type="number" name="inserisci-personaggio-pf" class="required" id="inserisci-Personaggi-PF" maxlength="255">
								</div>
								<div class="row">
									<label for="inserisci-Personaggi-pe">Punti Esperienza?</label>
									<input type="number" name="inserisci-personaggio-pe" id="inserisci-Personaggi-PE" maxlength="255">
								</div>
								<div class="row">
									<label for="inserisci-Personaggi-denaro">Denaro?</label>
									<input type="number" name="inserisci-personaggio-denaro" id="inserisci-Personaggi-Denaro" maxlength="255">
								</div>

							</fieldset>
							<fieldset class="mb-10">
								<legend>Oggetti</legend>
								<p class="mb-10">Inserire ID degli oggetti separati da virgole</p>
								<div class="row">
									<label for="inserisci-Personaggi-armi">Armi?</label>
									<input type="input" name="inserisci-personaggio-armi" id="inserisci-Personaggi-Armi">
								</div>
								<div class="row">
									<label for="inserisci-Personaggi-incantesimi">Incantesimi?</label>
									<input type="input" name="inserisci-personaggio-incantesimi" id="inserisci-Personaggi-Incantesimi">
								</div>
								<div class="row">
									<label for="inserisci-Personaggi-abilita">Abilità?</label>
									<input type="input" name="inserisci-personaggio-abilita" id="inserisci-Personaggi-Abilita">
								</div>
								<div class="row">
									<label for="inserisci-Personaggi-equipaggiamento">Equipaggiamento?</label>
									<input type="input" name="inserisci-personaggio-equipaggiamento" id="inserisci-Personaggi-Equipaggiamento">
								</div>
							</fieldset>
							<div class="row justify-content-between">
								<button type="button" id="inserisci-Personaggio-svuota" onclick="emptyForm('modal-inserisci-Personaggio');">Svuota</button>
								<button type="button" id="inserisci-Personaggio-ok">Inserisci</button>
							</div>
							
						</fieldset>
					
					
						<fieldset id="modal-inserisci-risultato">
							
						</fieldset>
						
					</div>	
					
				</form>	
			</div>
			<div class="modal-footer">
				<!-- <button type="button" class="btn btn-primary" data-bs-target="#modal-attacca" data-bs-toggle="modal">Indietro</button> -->
			</div>
		</div>
	</div>
</div>

	
	<!-- MODIFICA -->
	<!-- <div id="modal-modifica" class="w-80 hide">
		<span class="chiudi" onclick="closeModal('modifica')">X</span>
		<p class="text-danger">MODIFICA</p>
		<form id="lista-modifica" method="post">
			<div class="d-flex column">
		
				<fieldset>
					<legend>Cosa vuoi modificare?</legend>
					<div id="lista-modifica">
						
					</div>
					<div class="row">
						<div class="row">
							<label for="modifica-tipo-Oggetti">Oggetti</label>
							<input type="radio" name="modifica-tipo" value="Oggetti" id="modifica-tipo-Oggetti" onchange="showModal('modifica-Oggetto');showModal('lista-modifica-Oggetto');closeModal('modifica-Personaggio');closeModal('lista-modifica-Personaggio');">
						</div>
						<div class="row">
							<label for="modifica-tipo-Personaggi">Personaggi</label>
							<input type="radio" name="modifica-tipo" value="Personaggi" id="modifica-tipo-Personaggi" onchange="showModal('modifica-Personaggio');showModal('lista-modifica-Personaggio');closeModal('modifica-Oggetto');closeModal('lista-modifica-Oggetto');">
						</div>
					</div>
				</fieldset>
			
				<fieldset id="modal-modifica-Oggetto" class="hide">
					<div id="modal-lista-modifica-Oggetto" class="w-100 hide"></div>
					<div id="modal-modifica-dati-Oggetto" class="hide">
						<legend>Carica Oggetto</legend>
						<p class="mb-10">* obbligatori.</p>
						
						<fieldset class="row mb-10">
							<legend>Tipo di oggetto *</legend>
							<div class="row">
								<select name="modifica-oggetto-azione" class="required">
									<option value="arma">Arma</option>
									<option value="incantesimo">Incantesimo</option>
									<option value="pergamena">Pergamena</option>
									<option value="pozione">Pozione</option>
									<option value="libro">Libro</option>
									<option value="abilita">Abilità</option>
								</select>
							</div>
						</fieldset>
						
						<div class="mb-10">
							<div class="row">
								<label for="modifica-Oggetti-nome">Nome *</label>
								<input type="input" name="modifica-oggetto-nome" class="required" id="modifica-Oggetti-nome" maxlength="16">
								
							</div>
							<div class="row">
								<label for="modifica-Oggetti-proprietario">Proprietario *</label>
								<input type="number" name="modifica-oggetto-proprietario" class="required" id="modifica-Oggetti-proprietario" max="255">
								
							</div>
						</div>	
						
						<div class="mb-10">
							<p>Presente sulla mappa? *</p>
							<div class="row">
								<div class="row">
									<label for="modifica-Oggetti-presente-si">Sì</label>
									<input type="radio" name="modifica-oggetto-presente" class="required" id="modifica-Oggetti-presente-si" value="1">
									
								</div>
								<div class="row">
									<label for="modifica-Oggetti-presente-no">No</label>
									<input type="radio" name="modifica-oggetto-presente" class="required" id="modifica-Oggetti-presente-no" value="0">
									
								</div>
							</div>
						</div>
						
						
						<fieldset class="column mb-10">
							<legend>Danno</legend>
							<div class="row">
								<label for="modifica-Oggetti-numero-quantita">Numero di dadi?</label>
								<input type="number" name="modifica-oggetto-numero-quantita" id="modifica-Oggetti-numero-quantita" max="100">
							</div>
							<div class="row">
								<label for="modifica-Oggetti-numero-dadi">Facce del dado?</label>
								<input type="number" name="modifica-oggetto-numero-dadi" id="modifica-Oggetti-numero-dadi" max="100">
							</div>
							<div class="row">
								<label for="modifica-Oggetti-bonus_tiro">Bonus tiro?</label>
								<input type="number" name="modifica-oggetto-bonus_tiro" id="modifica-Oggetti-bonus_tiro" max="100">
							</div>
							<div class="row">
								<label for="modifica-Oggetti-gittata">Gittata?</label>
								<input type="number" name="modifica-oggetto-gittata" id="modifica-Oggetti-gittata" max="100">
							</div>
						</fieldset>

						<div class="row justify-content-between">
							<button type="button" id="modifica-Oggetto-svuota" onclick="emptyForm('modal-modifica-Oggetto');">Svuota</button>
							<button type="button" id="modifica-Oggetto-ok">Inserisci</button>
						</div>
					</div>
				</fieldset>
			

				<fieldset id="modal-modifica-Personaggio" class="hide">
					<div id="modal-lista-modifica-Personaggio" class="w-100 hide"></div>
					<div id="modal-modifica-dati-Personaggio" class="hide">
						<legend>Carica Personaggio</legend>
						
						<p class="mb-10">* obbligatori.</p>
						<fieldset class="column mb-10">
							<legend>Razza</legend>
							<div class="row">
								<select name="modifica-personaggio-razza" class="required">
									<option value="Umano" selected>Umano</option>
									<option value="Elfo">Elfo</option>
									<option value="Mezzelfo">Mezzelfo</option>
									<option value="Mezzorco">Mezzorco</option>
									<option value="Nano">Nano</option>
									<option value="Gnomo">Gnomo</option>
									<option value="Halfling">Umano</option>
								</select>
							</div>
						</fieldset>
						
						<fieldset class="row mb-10">
							<legend>Classe</legend>
							<div class="row">
								<select name="modifica-personaggio-classe" class="required">
									<option value="Barbaro">Barbaro</option>
									<option value="Bardo">Bardo</option>
									<option value="Chierico">Chierico</option>
									<option value="Druido">Druido</option>
									<option value="Druido">Druido</option>
									<option value="Guerriero">Guerriero</option>
									<option value="Ladro">Ladro</option>
									<option value="Mago">Mago</option>
									<option value="Monaco">Monaco</option>
									<option value="Paladino">Paladino</option>
									<option value="Ranger">Ranger</option>
									<option value="Stregone">Stregone</option>
									<option value="Altro">Altro</option>
								</select>
							</div>
						</fieldset>
						
						<div class="column mb-10">
							<div class="column mb-10">
								<div class="row">
									<label for="modifica-Personaggi-giocatore">Username *</label>
									<input type="input" name="modifica-personaggio-giocatore" id="modifica-Personaggi-Giocatore" max="16">
								</div>
								<p>Se modifica <cite>npc</cite> creerai un PERSONAGGIO NON GIOCANTE</p>
								<p>Se modifica <cite>dm</cite> creerai un NUOVO DUNGEON MASTER</p>
							</div>
							<div class="row">
								<label for="modifica-Personaggi-nome">Nome *</label>
								<input type="input" name="modifica-personaggio-nome" id="modifica-Personaggi-nome" max="16">
							</div>
						</div>
						
						<div class="mb-10">
							<p>Presente sulla mappa? *</p>
							<div class="row">
								<div class="row">
									<label for="modifica-Personaggi-presente-si">Sì</label>
									<input type="radio" name="modifica-personaggio-presente" class="required" id="modifica-Personaggi-presente-si" value="1">	
								</div>
								<div class="row">
									<label for="modifica-Personaggi-presente-no">No</label>
									<input type="radio" name="modifica-personaggio-presente" class="required" id="modifica-Personaggi-presente-no" value="0">	
								</div>
							</div>
						</div>
						
						<div class="row">
							<label for="modifica-Personaggi-livello">Livello?</label>
							<input type="number" name="modifica-personaggio-livello" id="modifica-Personaggi-livello" max="100">
						</div>
						
						<fieldset class="column mb-10">
							<legend>Caratteristiche</legend>
							<div class="row">
								<label for="modifica-Personaggi-caratteristiche-forza">Forza</label>
								<input type="number" name="modifica-personaggio-caratteristiche-forza" id="modifica-Personaggi-caratteristiche-Forza" max="100" >
								<label for="modifica-Personaggi-caratteristiche-bonus-forza">Bonus forza</label>
								<input type="number" name="modifica-personaggio-caratteristiche-bonus-forza" id="modifica-Personaggi-caratteristiche-bonus-Forza" max="100">
							</div>
							<div class="row">
								<label for="modifica-Personaggi-caratteristiche-destrezza">Destrezza</label>
								<input type="number" name="modifica-personaggio-caratteristiche-destrezza" id="modifica-Personaggi-caratteristiche-Destrezza" max="100">
								<label for="modifica-Personaggi-caratteristiche-bonus-destrezza">Bonus destrezza</label>
								<input type="number" name="modifica-personaggio-caratteristiche-bonus-destrezza" id="modifica-Personaggi-caratteristiche-bonus-Destrezza" max="100">
							</div>
							<div class="row">
								<label for="modifica-Personaggi-caratteristiche-costituzione">Costituzione</label>
								<input type="number" name="modifica-personaggio-caratteristiche-costituzione" id="modifica-Personaggi-caratteristiche-Costituzione" max="100">
								<label for="modifica-Personaggi-caratteristiche-bonus-costituzione">Bonus costituzione</label>
								<input type="number" name="modifica-personaggio-caratteristiche-bonus-costituzione" id="modifica-Personaggi-caratteristiche-bonus-Costituzione" max="100">
							</div>
							<div class="row">
								<label for="modifica-Personaggi-caratteristiche-carisma">Carisma</label>
								<input type="number" name="modifica-personaggio-caratteristiche-carisma" id="modifica-Personaggi-caratteristiche-Carisma" max="100">
								<label for="modifica-Personaggi-caratteristiche-bonus-carisma">Bonus carisma</label>
								<input type="number" name="modifica-personaggio-caratteristiche-bonus-carisma" id="modifica-Personaggi-caratteristiche-bonus-Carisma" max="100">
							</div>
							<div class="row">
								<label for="modifica-Personaggi-caratteristiche-intelligenza">Intelligenza</label>
								<input type="number" name="modifica-personaggio-caratteristiche-intelligenza" id="modifica-Personaggi-caratteristiche-Intelligenza" max="100">
								<label for="modifica-Personaggi-caratteristiche-bonus-intelligenza">Bonus intelligenza</label>
								<input type="number" name="modifica-personaggio-caratteristiche-bonus-intelligenza" id="modifica-Personaggi-caratteristiche-bonus-Intelligenza" max="100">
							</div>
							<div class="row mb-10">
								<label for="modifica-Personaggi-caratteristiche-saggezza">Saggezza</label>
								<input type="number" name="modifica-personaggio-caratteristiche-saggezza" id="modifica-Personaggi-caratteristiche-Saggezza" max="100">
								<label for="modifica-Personaggi-caratteristiche-bonus-saggezza">Bonus saggezza</label>
								<input type="number" name="modifica-personaggio-caratteristiche-bonus-saggezza" id="modifica-Personaggi-caratteristiche-bonus-Saggezza" max="100">
							</div>
							<div class="row">
								<label for="modifica-Personaggi-iniziativa">Iniziativa?</label>
								<input type="number" name="modifica-personaggio-iniziativa" id="modifica-Personaggi-Iniziativa" max="100">
							</div>
							<div class="row">
								<label for="modifica-Personaggi-ca">Classe Armatura? *</label>
								<input type="number" name="modifica-personaggio-ca" class="required" id="modifica-Personaggi-CA" max="100">
							</div>
							<div class="row">
								<label for="modifica-Personaggi-pf">Punti Ferita? *</label>
								<input type="number" name="modifica-personaggio-pf" class="required" id="modifica-Personaggi-PF" maxlength="255">
							</div>
							<div class="row">
								<label for="modifica-Personaggi-pe">Punti Esperienza?</label>
								<input type="number" name="modifica-personaggio-pe" id="modifica-Personaggi-PE" maxlength="255">
							</div>
							<div class="row">
								<label for="modifica-Personaggi-denaro">Denaro?</label>
								<input type="number" name="modifica-personaggio-denaro" id="modifica-Personaggi-Denaro" maxlength="255">
							</div>

						</fieldset>
						<fieldset class="mb-10">
							<legend>Oggetti</legend>
							<p class="mb-10">Inserire ID degli oggetti separati da virgole</p>
							<div class="row">
								<label for="modifica-Personaggi-armi">Armi?</label>
								<input type="input" name="modifica-personaggio-armi" id="modifica-Personaggi-Armi">
							</div>
							<div class="row">
								<label for="modifica-Personaggi-incantesimi">Incantesimi?</label>
								<input type="input" name="modifica-personaggio-incantesimi" id="modifica-Personaggi-Incantesimi">
							</div>
							<div class="row">
								<label for="modifica-Personaggi-abilita">Abilità?</label>
								<input type="input" name="modifica-personaggio-abilita" id="modifica-Personaggi-Abilita">
							</div>
							<div class="row">
								<label for="modifica-Personaggi-equipaggiamento">Equipaggiamento?</label>
								<input type="input" name="modifica-personaggio-equipaggiamento" id="modifica-Personaggi-Equipaggiamento">
							</div>
						</fieldset>
						<div class="row justify-content-between">
							<button type="button" id="modifica-Personaggio-svuota" onclick="emptyForm('modal-modifica-Personaggio');">Svuota</button>
							<button type="button" id="modifica-Personaggio-ok">Inserisci</button>
						</div>
					</div>
				</fieldset>
		
			</div>	
			
		</form>
	</div> -->
	
	
	

</body>
</html>